

    .title-allTrip{

        font-size: 2rem;
        font-weight: 700;
        font-family: 'Kanit', sans-serif !important ;
        color : #464e37;
    }
    .create-trip-btn{
        background-color: #464e37;
        color: white;
        width: 250px;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 25px;
    }
      .create-trip-btn:hover{
        background-color: #464e37ba;
     transform: scale(1.07);
      }
.task-card {
  padding: 0 5%;
  height: 150px;
  border-radius: 30px;
  background-color: #fdeed3;
  width: 87%;

  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      padding: 20px;
      p {
        margin-bottom: 0px !important;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Kanit', sans-serif !important ;
      }
      select,
      input {
        background-color: rgb(220, 212, 212);
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 25px;
        margin-right: 10px;
      }
      button {
        background-color: #85dfd8;
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 25px;
        margin-right: 10px;
        margin-top: 19px;
      }
    }
  }
}
.card-trip {
  height: 380px;
  width: 31%;
  cursor: pointer;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .image-card-trip {
    background: url('https://images.unsplash.com/photo-1523987355523-c7b5b0dd90a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 10px;

    .title {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
    }
    .desc{
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Kanit', sans-serif !important ;
    }
    .price-container {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: #464e37;
      padding: 14px;
      color: white;
      border-radius: 20px;

      span:nth-child(1) {
     color: white;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: 'Kanit', sans-serif !important ;
      }
      span:nth-child(2) {
     color: white;
        font-size: 0.6rem;
        font-weight: 400;
        font-family: 'Kanit', sans-serif !important ;
      }
    }
  }
}
.card-trip:hover {
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
  filter: brightness(1.3);
}

.trip-detail-container {
  width: 90%;
  background-color: #f2ead6;
  min-height: 96vh;
  border-radius: 30px;

  display: grid;
  grid-template-columns: 5fr 2fr;

  .title {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Kanit', sans-serif !important ;
  }
  .title-price-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.409);
    border-radius: 20px;
    padding: 30px;
    margin-right: 45px;
    line-height: 1.5rem;
    .title-price {
      margin: auto;
      font-size: 1.7rem;
      font-weight: 700;
      color: #58791a;
      font-family: 'Kanit', sans-serif !important ;
    }
    .title-price-detail {
      margin: auto;
      font-size: 0.8rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
    }
  }
}
.header {
  display: flex;
  align-items: center;

  margin: 20px;
  gap: 20px;
  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .header-item-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f2ead6;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: #f2ead6;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.image {
  width: 95%;
  height: 450px;
  border-radius: 30px;
}
.topic {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif !important ;
  margin: 20px 0;
}
.desc {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif !important ;
}
.include {
  width: 95%;
  background-color: rgba(217, 217, 217, 0.409);
  border-radius: 20px;
  padding: 30px;
  .include-item {
    color: #58791a;
  }
}
//section-2
.section-2 {
  padding-top: 20px;
  .create-box {
    width: 95%;
    background-color: rgba(217, 217, 217, 0.409);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .ad1 {
    width: 95%;
    height: 180px;
    background-color: rgba(217, 217, 217, 0.409);
    border-radius: 20px;
    display: flex;
    .ad-item {
      margin: auto;
      color: #58791a;
      font-size: 1.5rem;
    }
  }
    .ad2 {
    width: 95%;
    height: 400px;
    background-color: rgba(217, 217, 217, 0.409);
    border-radius: 20px;
    display: flex;
    .ad-item {
      margin: auto;
      color: #58791a;
      font-size: 1.5rem;
    }
  }
  .join {
    width: 95%;
    background-color: rgba(217, 217, 217, 0.409);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .join-title {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
    }
    .count {
      font-size: 2.2rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
      color: #58791a;
    }
    .image-person {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    .price {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
      color: #58791a;
    }
    .join-btn {
      padding: 7px 30px;
      outline: none;
      border: none;
      border-radius: 25px;
      background-color: #58791a;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: 'Kanit', sans-serif !important ;
      cursor: pointer;
      &:hover {
        background-color: #58791a;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
//section-2




//create trip
.create-trip{

    .title{
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Kanit', sans-serif !important ;
    }
    .preview-image-box{
          width: 100%;
        border-radius: 20px;
   height: 400px;
   position: relative;
   .cancel-icon{
    position: absolute;
    top:10px;
    right: 10px;
   }

   .preview-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.581);
        padding: 20px;
   }

    }
    .upload-image{
        width: 100%;
           background-color: rgba(255, 255, 255, 0.581);
        border-radius: 20px;
        cursor: pointer;
   height: 400px;
        display: flex;
        .upload-image-content{
            margin: auto;
            color: #58791a;
            font-size: 1.3rem;
            display: flex;
        }

    }
     .upload-image:hover{
        background-color: rgb(255, 255, 255);
       
     }
     .image-input{
        display: none;
     }
     .input-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        gap:10px;

        label{
            font-size: 1.2rem;
            font-weight: 400;
            font-family: 'Kanit', sans-serif !important ;
        }
        input{
            width: 100%;
            height: 40px;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 0 10px;
            font-size: 1rem;
            font-weight: 300;
            font-family: 'Kanit', sans-serif !important ;
        }
          textarea{
            width: 100%;
            height: 400px;
            resize: none;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 1rem;
            font-weight: 300;
            font-family: 'Kanit', sans-serif !important ;
        }
        .add-include-btn{
            width: 100px;
            height: 40px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: #58791a;
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            font-family: 'Kanit', sans-serif !important ;
            cursor: pointer;
            &:hover{
                background-color: #58791a;
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
        
     }
     
}