.main{
    font-family: 'Kanit', sans-serif ;
    background-color: #F8DB94;
    min-height: 100vh;




}

 .logo{
    font-family: 'luckiest guy', cursive !important;
    font-size: 50px;
        color:'#464E37'
 }
 .menu{
    font-family: 'Kanit', sans-serif ;
    font-size: 22px;
    color:'#464E37';
    cursor: pointer;

 }
 .layout-container{
      width: 90%;
  background-color: #f2ead6;
  min-height: 96vh;
  border-radius: 30px;
 }
 .login-btn{
   width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #464E37;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Kanit', sans-serif ;
    cursor: pointer;
    border: none;
    outline: none;
 }
 .login-btn:hover{
    background-color: #F8DB94;
    color: #464E37;
    border: 2px solid #464E37;
 }

